services:
    db:
      image: postgres:15
      restart: unless-stopped
      volumes:
        - ./tmp/db:/var/lib/postgresql/data
      environment:
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    web:
      build: .
      restart: unless-stopped
      volumes:
        - .:/rails
      ports:
        - "3000:3000"
      depends_on:
        - db
      environment:
        DATABASE_URL: postgresql://postgres:${POSTGRES_PASSWORD}@db:5432/postgres
        SECRET_KEY_BASE: ${RAILS_SECRET_KEY_BASE}
        RAILS_ENV: production 
        DEVICE_API_TOKEN: ${DEVICE_API_TOKEN}
        ADMIN_USERNAME: ${ADMIN_USERNAME}
        ADMIN_PASSWORD: ${ADMIN_PASSWORD}

